*{
    box-sizing: border-box;
}

body {
	background: #3d2f87;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.padre {
    width: 800px;
    height: 300px;
    background: whitesmoke;
    margin: 0 auto;
    margin-bottom: 0em;
    position: relative;
    border-radius: 5px;
    text-align: left;
    font-size: 12px;
}

.hijo {
    width: 50px;
    height: 50px;
    background: black;
    position: absolute;
    color: white;
    margin-right:30%;
}


.padre .wave{
    position: absolute;
    width: 100%;
    bottom: -140px;
    color: thistle;
    opacity: 1;
}

.menu {
	list-style: none;
	padding: 0;
   	width: 100%;
	max-width: 1000px;
	margin: auto;
    position: absolute;
    text-align: right;
}

.menu li a{
    text-decoration: none;
    font-size: 11px;
    color: white;
    padding: 3px;
    display: block;
    letter-spacing: 1px;
    background: #3d2f87;
    border-radius: 15px;
}


.menu li{
    display: inline-block;
    text-align: center;

}

.menu li a:hover{
    background: coral;
}




.a2{
    background: whitesmoke;
    width: 800px;
    padding:16px;
    border-radius:10px;
    margin:auto;
}

.a2 article{
    display: inline-block;
    border-radius: 5px;
    width: 200px;
    height: 150px;
    margin-left: 5px;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    border: black;
}

.a3{
    background: whitesmoke;
    width: 800px;
    padding:16px;
    border-radius:10px;
    margin:auto;
}

.a4{
    background: whitesmoke;
    width: 800px;
    padding:16px;
    border-radius:10px;
    margin:auto;
}

.a4 button{
  background: #3d2f87;
  color: whitesmoke;
  border-radius: 15px;
}

.a5{
    background: whitesmoke;
    width: 800px;
    padding:16px;
    border-radius:10px;
    margin:auto;
   
}
.a5 div{
  color: purple;
  display: inline-block;
}

.a5 article{
    display: inline-block;
    border-radius: 5px;
    width: 200px;
    height: 150px;
    margin-left: 5px;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    
}

.a6{
    background: whitesmoke;
    width: 800px;
    padding:16px;
    border-radius:10px;
    margin:auto;
}

.a6 article{
    display: inline-block;
    border-radius: 5px;
    width: 200px;
    height: 150px;
    margin-left: 5px;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    border: black;
}

.a6 button{
    background: whitesmoke;
    border-radius: 5px;
    border-color: purple;
}

.a6 button:hover{
    background: purple;
    color: whitesmoke;
}

.a7{
    background: whitesmoke;
    width: 800px;
    height: 300px;
    padding:16px;
    border-radius:10px;
    margin:auto;
}

.hijo7{
    width: 600px;
    height: 200px;
    background: #3d2f87 ;
    background: linear-gradient(to bottom, #3d2f87, rgb(137, 14, 154));
    position: absolute;
    color: white;
    margin:0 auto;
    border-radius: 15px;
    text-align: center;
    padding: 25px;
}
.hijo7 p{
  font-weight: 10;
}


.a7 input{
  background: whitesmoke;
  color: purple;
  border-radius: 15px;
}

